.content{
    width:1590px ;
    margin:  0 auto;
}
.content-header{
    width: 1590px;
    height: 53px;
    margin-bottom: 30px;
}
.header-main{
    width: 1590px;
    height: 53px;
    margin: 0 18px 0 18px;
    float: left;
    border-bottom: 1px solid #999999;
}
.filter{
    list-style-type: none;
    font-size: 15px;

}
.filter dl{
    height: 53px;
    line-height: 53px;

}
.filter dt{
    color: #444444;
    margin-right: 150px;
    float: left;

}
.filter dd{
    margin-right: 100px;
    float: left;
}
.filter dd a{
    color: #000000;
    font-size: 16px;
    margin-right: 5px;
}

.filter dd a:hover{
    color: chocolate;
}