.clear_fix:after{
    content: "";
    display: block;
    clear: both;
}
#herder2 ul li{

    list-style-type: none;
}
#herder2{
    margin-top: 60px;
    min-width: 1080px;
}
.banner_wrap{
    height: 500px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.banner_wrap .banner_img{
    height: 100%;
    margin: 0 auto;
    width: 200%;
    position: relative;
}
.banner_wrap .banner_img li{
    float: left;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    position: absolute;
}
.banner_wrap .banner_img li img{
    width: 100%;
    height: 100%;
}
.left-button{
    cursor: pointer;
    background: #999999;
    height: 71px;
    width: 71px;
    top:50%;
    left: 65px;
    position: absolute;
}
.left-button img{
    width: 100%;
    height: 100%;
}
.right-button{
    cursor: pointer;
    background: #999999;
    height: 71px;
    width: 71px;
    top:50%;
    right: 65px;
    position: absolute;
}
.right-button img{
    width: 100%;
    height: 100%;
}